{% extends 'base.html' %}


{% block content %}

<div class="about_page">
    <div class = "Contact_body">
    <!-- page image -->
    <header id="page-header">
        <div class="col-md-6 m-auto text-center text-light">
            <h1 class="text-primary">Contact Us</h1>
            <p class="lead text-secondary">There is a hope of life to someone in your blood donation.
            <br>"Opportunities knock the door sometimes, so don’t let it go and donate blood."</p>
        </div>
    </header>

    <!-- address -->
    <div class="address text-center">
        <address class="p-5 font-weight-bold">{{ contact.contact_text }}</address>
    </div>
    </div>
</div>


{% endblock  %}